@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', 'Cantarell', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Temporary solution: this WILL override all the other colour - background colour transitions */
/* Do not use animations for people with vestibular motion disorders */
* {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

.cm-scroller::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.cm-scroller::-webkit-scrollbar-track {
  /*border-radius: 100vh;*/
  background: rgb(224 231 255);
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: rgb(79 70 229) !important;
  border-radius: 100vh !important;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background: rgb(79 70 229);
}

.cm-theme{
  border-radius: 15px;
}
